@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

*{
    margin: 0;
}
body{
    font-family: 'Raleway', arial, sans-serif;
}

legend{
    text-align: center;
    font-size: 180%;
    margin-bottom: 10px;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}

/*Aqui começa o Como Funciona*/
.como-funciona{
    border: none;
    margin: 70px 0;
}


.bloco{
    border: 1px;
    border-style: solid;
    /*background-color: mediumseagreen;*/
    width: 100%;
    height: 220%;
    margin: 0;
    background-image: url(img/bg.jpg);
}


.bloco,.bloco-uni h3{
    text-align: center;
    font-size: 200%;
    padding: 10px;
}

.bloco, .bloco-uni p{
    padding: 20px;
    font-size: 20px;
}
/*Aqui Começa Exemplos de Universidades*/
.bloco-uni{
    border: 1px;
    border-style: solid;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
}

.rodape {
    margin: 50px 0;
}


/*Aqui Termina o Exemplos de Universidade e Começa do Container*/
#principal {
    width: 100%;
    height: 650px;
    background-color:black;
    text-align: center;
}

#principal h1{
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 250px;
}